// main script name
manifest.mainScript = 'chipseq-pipeline.nf'

// Docker is disabled by default and uses the following options when activated
docker {
    sudo = false
    fixOwnership = true
    runOptions = '-u $(id -u)'
}

// Enable trace by default
trace.enabled = true

// Process configuration
process {
  container = 'guigolab/chip-nf:dev'
  tag = { prefix ?: genome.baseName }
}
